*{
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    outline: 2px solid red;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.emperor {
    text-align: center;
    font-weight: bold;
}

.pain {
    display: flex;
    padding: 5px;
    border: 5px solid blue;
    margin: auto;
    background-color: purple;
}