*{
    border: 2px solid red;
}

.duty {
    text-align: center;
    font-size: 50px;
    font-weight: 30px;
}

#egghead {
    padding: 20px;
}

#trent{
    padding: 20px;
    justify-content: center;
}

#pizzabutton {
    padding: 10px;
    
}